{% extends "job/base-extended.html" %}
{% load static %}

<!--- START of Tweet streem info-display-->
{% block info_select_baseextended_tweetstreem %}

{% endblock info_select_baseextended_tweetstreem %}

<!--- START of Food CO2 footprint info-display -->
{% block info_display_baseextended_foodco2 %}
<div>
    <div class="row"> <!-- or row -->
    <h3> Health promotion from alldocs. <br> </h3> <h5>Click the image to get details</h5>
    <hr>

    {% for job in jobs.all %}
        <!-- the box -->
        <div class="col">
        <a href="{% url 'jobdetail' job.id %}"> <p class="card-text"> <h3>{{ job.title }}</h3></p> </a>
        <p class ="text_center">{{ job.pub_date }}</p>
        <a href="{% url 'jobdetail' job.id %}"> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{{ job.image.url }}" width="300" height="200"/> </a>
        <p class="card-text">{{ job.summary }}</p>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
        </div>
        </div>
    {% endfor %}
    
    </div>
</div>
{% endblock info_display_baseextended_foodco2 %}


<!--- START of Google Trend info-display -->
{% block info_display_baseextended_googletrend %}
<div class="album py-6 bg-light">
    <div class="row"> <!-- or row -->
    <h3> Health promotion from alldocs. <br> </h3> <h5>Click the image to get details</h5>
    <hr>

    {% for job in jobs.all %}
        <!-- the box -->
        <div class="col">
        <a href="{% url 'jobdetail' job.id %}"> <p class="card-text"> <h3>{{ job.title }}</h3></p> </a>
        <p class ="text_center">{{ job.pub_date }}</p>
        <a href="{% url 'jobdetail' job.id %}"> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{{ job.image.url }}" width="300" height="200"/> </a>
        <p class="card-text">{{ job.summary }}</p>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
        </div>
        </div>
    {% endfor %}
    
    </div>
</div>
{% endblock info_display_baseextended_googletrend %}

<!--- START of Health Promotion info-display -->
{% block info_display_baseextended_healthpromotion %}
    <div class="album py-6 bg-light">
        <div class="row"> <!-- or row -->
        <h3> Health promotion from alldocs. <br> </h3> <h5>Click the image to get details</h5>
        <hr>

        {% for job in jobs.all %}
            <!-- the box -->
            <div class="col">
            <a href="{% url 'jobdetail' job.id %}"> <p class="card-text"> <h3>{{ job.title }}</h3></p> </a>
            <p class ="text_center">{{ job.pub_date }}</p>
            <a href="{% url 'jobdetail' job.id %}"> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{{ job.image.url }}" width="300" height="200"/> </a>
            <p class="card-text">{{ job.summary }}</p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
            </div>
            </div>
        {% endfor %}
        
        </div>
    </div>
{% endblock info_display_baseextended_healthpromotion %}


<!--- START of Food Ontology info-display -->
{% block info_display_baseextended_foodontology %}
<div class="album py-6 bg-light">
    <div class="row"> <!-- or row -->
    <h3> Health promotion from alldocs. <br> </h3> <h5>Click the image to get details</h5>
    <hr>

    {% for job in jobs.all %}
        <!-- the box -->
        <div class="col">
        <a href="{% url 'jobdetail' job.id %}"> <p class="card-text"> <h3>{{ job.title }}</h3></p> </a>
        <p class ="text_center">{{ job.pub_date }}</p>
        <a href="{% url 'jobdetail' job.id %}"> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{{ job.image.url }}" width="300" height="200"/> </a>
        <p class="card-text">{{ job.summary }}</p>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
        </div>
        </div>
    {% endfor %}
    
    </div>
</div>
{% endblock info_display_baseextended_foodontology %}