{% extends "job/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      
      <!--<h1 class="fw-light">Welcome to my Homepage!</h1>-->
      <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{% static 'my-homepage.jpg'%}"/>
      <hr>
      <h1> Navigation page</h1> <br>
      <p> There is not only one futures but you need to choose one by creating it! </p>
      <hr>        
    </div>
  </div>
{% endblock section %}

<!--- START of info selection -->
{% block info_select %}

{% endblock info_select %}

<!--- start of info display -->
{% block info_display %}
<div class="container">
  <div class="row">
    <h3> Summary of Protfolio´s title</h3>
    <hr>
    {% for job in jobs.all %}

      <div class="col">
        <a href="{% url 'jobdetail' job.id %}"> <h5 class="card-text">{{ job.title }}</h5> </a>
        <a href="{% url 'jobdetail' job.id %}"> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{{ job.image.url }}"/> </a>
        <div class="card-body">
          <p class="card-text">{{ job.summary }}</p>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Click image</button>
          </div>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    {% endfor %}

  </div>
</div><hr>

<div class="container">
  <div class="row">
    <h3> Summary of Blog´s Titles</h3>
    <hr>

    {% for blog in blogs.all %}
      <!-- the box -->
      <div class="col">
        <a href="{% url 'detail' blog.id %}"> <h5> {{ blog.title }} </h5> </a>
        {{ blog.pub_date_pretty }}
        <a href="{% url 'detail' blog.id  %}"> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{{ blog.image.url }}"/> </a>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
</div>
{% endblock info_display %}