{% extends "job/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}

{% endblock section %}


<!--- START of info selection -->
{% block info_select %}

{% endblock info_select %}


<!--- start of info display -->
{% block info_display %}
    <div class="container text-center">
        <h1 class= "text-center pt-3"> {{ job.title }}  </h1>
        <p class ="text_center">{{ job.pub_date }}</p>
        <img class= "img-fluid" src="{{ job.image.url }}"/> 
        <br />
        <p class="container text_justify"> {{ blog.body }} </p>
    </div>    
{% endblock info_display %}
