{% extends "blog/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <!--<h1 class="fw-light">text-center pt-3"> Welcome to Food & Data blog!</h1>-->      
        <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{% static 'my-blog.jpg''%}"/><hr>
        <h1> Some of the trends, thoughts and concepts! </h1><hr>
        </div>
    </div>
{% endblock section %}


<!--- START of info selection -->
{% block info_select %}


{% endblock info_select %}


<!--- start of info display -->
{% block info_display %}
<div class="container">
    <h3> Summary of Blog articles</h3><hr>
  <div class="row">
      {% for blog in blogs.all %}
        <a href="{% url 'detail' blog.id %}"> <h4 class="card-text"> {{ blog.title }} </h4> </a> <br>
        <h6 class="card-text">{{ blog.pub_date_pretty }}</h6>
            <div class="col d-flex justify-content-between align-items-center">
                <div class="col"> 
                    <a href="{% url 'detail' blog.id %}"> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{{ blog.image.url }}" width='100%' height="100%"/> </a>
                </div>
                <div class="col"> 
                    <p>{{ blog.summary }}</p>  
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">Click image to display larger</button> 
            </div>
            <br >
      {% endfor %} 
  </div> 
</div> 
{% endblock info_display %}

<!--- START of social media connection -->
{% block social_connection %}

{% endblock social_connection %}

