{% extends "blog/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <!--<h1 class="fw-light">text-center pt-3"> Welcome to Food & Data blog!</h1>-->      
        <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{% static 'my-blog.jpg''%}"/><hr>
        <h1> Some of the trends, thoughts and concepts! </h1><hr>
        </div>
    </div>
{% endblock section %}


<!--- START of info selection -->
{% block info_select %}

{% endblock info_select %}


<!--- start of info display -->
{% block info_display %}
<div class="container">
    <h2> latest Posts </h2><hr >
    {% for blog in blogs.all %}
        <a href="{% url 'detail' blog.id %}"> <h3> {{ blog.title }} </h3> </a>
        {{ blog.pub_date_pretty }}
        <br/>
        <img class= "img-fluid" src="{{ blog.image.url }}" width="600" height="500"/> 
        <br/>
        <p>{{ blog.summary }}</p> <br/>  <hr>
    {% endfor %}
</div>
{% endblock info_display %}

<!--- START of social media connection -->
{% block social_connection %}

{% endblock social_connection %}