{% extends "blog/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
    <div class="row py-lg-6" style="background-color:#e8f0ef">
        <div class="col-lg-6 col-md-8 mx-auto">
        <!--<h1 class="fw-light">text-center pt-3"> Welcome to Food & Data blog!</h1>-->      
            <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{% static 'my-blog.jpg''%}"/><hr>
        </div>

        <h2> What can you read here? </h2>
        <p> <strong><i> Here i will post Food, Nutrition and Health releted concepts, articles and thoughts. <br>
                        Most of the blog contents will taken from either from academic research or from real case example. </i></strong> </p>
    </div> <br>
{% endblock section %}


<!--- START of info selection -->
{% block info_select %}

        <div class="container">
            <h3> List of Blog articles</h3><hr>
            <h4> <strong> CLICK </strong>to display detail of a Blog article </h4>
            <div class="row">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3" >

                {% for blog in blogs.all %}
                    <div class="d-flex justify-content-between align-items-center" style="background-color:#c6eeeb; height: auto">
                    <div class="col" style="background-color:#e2eceb; padding:5px; margin:10px">
                        <a href="{% url 'detail' blog.id %}"> <h5 class="card-text">{{ blog.title }}</h5> </a>
                        {{ blog.pub_date_pretty }}
                        <a href="{% url 'detail' blog.id %}"> <img class="img-fluid bd-placeholder-img card-img-top" src= "{{ blog.image.url }}" style="height: auto; padding:25px"/> </a>
                        <div style="background-color:#bdcccb; padding:5px; margin:5px">
                            <p class= "text-center pt-3"> <i> {{ blog.sum }} </i> </p>
                        </div>
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Click image to display larger</button>
                        </div> 
                    </div>
                    </div>
                {% endfor %}
                    
                </div>
            </div>
        </div><hr>

{% endblock info_select %}




<!--- start of info display -->
{% block info_display %}
    <h3> Details of a Blog articles</h3><hr>

    <div style="background-color:#a9b4b2; margin: 20px">
       
        {% for sample in sample_blog %}
              <!--just acess and display the blog that has title block check-->
            <div style="background-color:#c6eeeb; padding: 20px">
                <div >
                   <h4 class="card-text"> {{ sample.title }} </h4> 
                    <h6 class="card-text">{{ sample.pub_date_pretty }}</h6> 
                </div><br>
                <div>
                    <h6 class="card-text"> <strong><i> {{ sample.sum|safe }} </i></strong></h6> 
                </div>  <hr>
                
                <div  style="padding: 20px">
                    <div class="card-text"> 
                        <p style= "text-align: justify">{{ sample.body|safe }}</p>  
                    </div> 

                    <div style="padding: 20px"> 
                        <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{{ sample.image.url }}" width='100%' height="100%"/>
                    </div>
                </div>
                
            </div> 
            <br >
        {% endfor %}


{% endblock info_display %}



<!--- START of social media connection -->
{% block social_connection %}

{% endblock social_connection %}


