{% extends "aboutme/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <!--<h1 class="fw-light">Who am i?</h1>-->
        <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "{% static 'about-me.jpg'%}"/>
        <hr>
        <h1 class="fw-light">My resume!</h1>
        <p class="lead text-muted">I am Food scientist with knowledge and Data scientist with skills. I love to work with data and create value to the society and business.</p>
        <hr>
        <h2 class="fw-light">My CV</h2>
        <iframe src= "{% static 'resume-analytic.pdf' %}" width="900" height="700">CV of Mukti R. Chapagain</iframe>
        <br>
        <hr>
        <!--<h2 class="fw-light">Certificates</h2>
            <iframe src= "{% static 'TechLabDS.pdf' %}" width="100%" height="60%"> Certificates</iframe>
            <img class="bd-placeholder-img card-img-top" class= "img-fluid" width="100%" height="50%" src= "{% static 'TechLab-DataScience.png'%}"/> -->
        
        <h2 class="text-center pt-2">What service can i offer!</h2>
        <p>
            <!--<a href="https://www.linkedin.com/in/mrchapagain/" class="btn btn-primary my-2">Want to connect me in LinkedIn!</a>-->
        </p><hr>
        </div>
    </div>
{% endblock section %}


<!--- START of info selection -->
{% block info_select %}

{% endblock info_select %}


<!--- start of info display -->
{% block info_display %}
    <div class="container">
        <div class="row">
            <h3> Some of my skills certifications.</h3>
            <hr>
            
            {% for aboutme in aboutmes.all %}
            <div class="col">
                <a href="{% url 'docdetail' aboutme.id %}"> <h3> {{ aboutme.title }} </h3> </a>
                {{ aboutme.pub_date_pretty }}
                <br/>
                <a href="{% url 'docdetail' aboutme.id %}"> <img class= "img-fluid" src="{{ aboutme.image.url }}"/> </a>
                <br/>
                <p>{{ aboutme.summary }}</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
                </div>      
                <br/>
            </div>
            {% endfor %}

        </div>
    </div>   
{% endblock info_display %}

<!--- START of social media connection -->
{% block social_connection %}
    <h5><strong>Click</strong> the button to go to the social media</h5>
    <div class="col-lg-6 col-md-8 mx-auto">
      <a href="https://www.linkedin.com/in/mrchapagain/" class="btn btn-primary my-3">LinkedIn: Wanna be in my network?</a> <br>
      <a href="https://www.researchgate.net/profile/Mukti-Chapagain" class="btn btn-primary my-3">ResearchGate: Wanna read my Research papers?</a><br>
      <a href="https://github.com/mrchapagain" class="btn btn-primary my-3">GitHub: Wanna know more about Data Analytics?</a>
    </div>
{% endblock social_connection %}