{% extends "aboutme/base-extend.html" %}
{% load static %}

<!--- start of Certificates display -->
{% block info_display_baseextended %}
    <div class="container">
        <div class="row">
            <h3> Some of my skills certifications.</h3> <hr>
            
            {% for aboutme in aboutmes.all %}
            <div class="col">
                <a href="{% url 'docdetail' aboutme.id %}"> <h3> {{ aboutme.title }} </h3> </a>
                {{ aboutme.pub_date_pretty }}
                <br/>
                <a href="{% url 'docdetail' aboutme.id %}"> <img class= "img-fluid" src="{{ aboutme.image.url }}"/> </a>
                <br/>
                <p>{{ aboutme.summary }}</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
                </div>      
                <br/>
            </div>
            {% endfor %}

        </div>
    </div>   
{% endblock info_display_baseextended %}