{% extends "analytics/base-extend.html" %}
{% load static %}

<!--- start of info display -->
{% block info_display_baseextended %}

<div class="col">
    <!-- word-cloud fig -->
    <div class="container">
      <h3> Word-Cloud from Your Tweet search</h3><hr>
      <a> <h5> </h5> </a>
      <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="{% static 'wordcloud_toshow.png' %}" alt="Word-Cloud image" width=500 height=auto /> </a>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
      </div>
    </div><hr>

    <!--Sentiment chart-->
    <div class="container">
      <h3> Sentiment analytics of the tweets</h3>  <hr>
      <a> <h5 class="card-text"> </h5> </a>
      <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="{% static 'sentiment_plot_toshow.png' %}" alt="Word-Cloud image" width=auto height=auto />
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">Click image</button>
      </div>
    </div>

</div> <hr>

<!-- Data frame -->
<div class="container">
    <div class="row">
      <h3> Sentiment analytics of the tweets streeming from user</h3><hr>
        <div class="col">
          <div class="card-body">

            <table style="width:100%">
              <tr>
                {% for col in sentiments.columns %}
                  <th style="white-space:nowrap"> {{ col }} </th>                     
                {% endfor %}
              </tr>
                {% for index, row in sentiments.iterrows %}
              <tr>
                    {% for cell in row %}
                  <td>{{ cell }}</td>
                    {% endfor %}
              </tr>
                {% endfor %}
            </table>
            <h5> 10 most liked Tweets and their sentiments Analytics</h5>
          </div>
        </div>
    </div>
</div><hr>
{% endblock info_display_baseextended %}

<!--- START of social media connection
{% block social_connection %}

{% endblock social_connection %} -->