{% extends "analytics/base-extend.html" %}
{% load static %}


 
<!--- Start of User-input section --> 
  <!--- Tweets with User-id user-imput box -->
  {% block info_select_baseextended_userid %}  
      <!--- Tweet with Keyword-search user-input box --> 
    <div>
      <form action="userid_tosearch", method='post'>
              {% csrf_token %}
          <fieldset>
            <label for='userid'> <strong> Choose tweeter User_ID here and SUBMIT </strong> </label> <br>
           <!-- <input type="text", name='userid'> -->
            <select id="userid", name="userid">
              {% for id_dict in user_id_dict %}
                {% for k, v in id_dict.tweetid.items %}
                <option value="{{ v }}"> {{ k }} </option> 
                {% endfor %}
              {% endfor %}
            </select>
            <button type="submit" value="Submit"> Click to Submit </button>

          </fieldset>
        </form> <br>
       
      <p><strong>Note:</strong> </i> After choosing the ID Tweets analytics will be display </i> </p>
    </div><hr>
  {% endblock info_select_baseextended_userid %}

  <!--- Start of User-input section --> 
  {% block info_select_baseextended_keyword  %}
  <!--- Tweet with Keyword-search user-input box --> 
  <div>
        <form action="keyword_tosearch", method='post'>
              {% csrf_token %}
              <label for='keyword'> <strong> Choose or Type keyword for tweet search and SUBMIT </strong> </label> <br>
              <!-- <input type="text", name='keyword'> -->
              <select id="keyword", name="keyword">
                {% for kw_dict in keyword_dict %}
                  {% for k, v in kw_dict.keyword.items %}
                    <option value="{{ v }}"> {{ k }} </option>
                  {% endfor %}
                {% endfor %}
              </select>
              <button type="submit" value="Submit">Click to Submit </button>
        </form> 

                  <br><h5> OR </h5>

        <form action="keyword_tosearch", method='post'>
          {% csrf_token %}
          <label for='keyword'> <strong>  </strong> </label>
          <input type="text", name='keyword'> 
          <button type="submit" value="Submit">Click to Submit </button>
       </form> <br>

      <p><strong>Note:</strong> <i> After Submit keyword tweets analytics will be display </i></p>
  </div><hr>
  {% endblock info_select_baseextended_keyword %}


  <!--- Info display User-id-->
  {% block info_display_baseextended_userid %}
        <div style="background-color:#e8f0ef">
          <div class="row"> <br>
              <!--- To make word-cloud and Bar-chart display side by side-->
              <!-- word-cloud fig -->
              <div class="col">
                {% if wordclouds %}
                  <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ wordclouds|safe }}" alt="Word-Cloud image from tweets " style="width:90%"/> </a>
                {% endif %}
              </div> <br>

              <!--Sentiment chart-->
              <div class="col">
                  {% if sentimentsplot %}
                  <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ sentimentsplot|safe }}" alt="Sentiment analysis of tweets" style="width:90%"/></a><br>
                  {% endif %}
              </div>

          </div> 
        
        <!--<div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Click the figure for bigger view</button>
          </div>-->

          <!--Top mentioned words chart-->
          <div class="col">
            {% if mostmentionword %}
              <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ mostmentionword|safe }}" alt="Most mentioned words bar plot" style="width:100%"/> </a>
            {% endif %}
          </div>

        </div> <hr>

        <!-- Data frame -->
        <div style="background-color:#e8f0ef">
            <div class="row"><br>
              <h5 style="background-color:#a9d1ca"> {{df_title_userid}} </h5> <br>
                <div class="col">
                  <div class="card-body">

                    <table style="width:100%">
                      <tr>
                        {% for col in sentiments.columns %}
                          <th style="white-space:nowrap"> {{ col }} </th>                     
                        {% endfor %}
                      </tr>
                        {% for index, row in sentiments.iterrows %}
                      <tr>
                            {% for cell in row %}
                          <td>{{ cell }}</td>
                            {% endfor %}
                      </tr>
                        {% endfor %}
                    </table>
                    
                  </div><br>
                </div>
            </div>
        </div><hr>

  {% endblock info_display_baseextended_userid %}


<!--- Info display keyword search-->
  {% block info_display_baseextended_keyword %}

          <div style="background-color:#e8f0ef">
              <div class="row"><br>
              
                <!--- To make word-cloud and Bar-chart display side by side-->
                  <!-- word-cloud fig -->
                  <div class="col">
                    {% if kwordclouds %}
                      <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ kwordclouds|safe }}" alt="Word-Cloud image" style="width:90%; height: 100%"/> </a>
                    {% endif %}
                  </div> <br>

                  <!--Sentiment chart-->
                  <div class="col">
                      {% if ksentimentsplot %}
                        <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ ksentimentsplot|safe }}" alt="Sentiment plot" style="height: 100%; width:90%"/> </a>
                      {% endif %}
                  </div>

              </div> 
              
                  <!-- <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Click the figure for bigger view</button>
                  </div>-->
                  
                <!--Top mentioned words chart-->
                <div class="col">
                  {% if kmostmentionword %}
                    <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ kmostmentionword|safe }}" alt="Plot formostmentioned words" style="height:100%; width:100%"/> </a>
                  {% endif %}
                </div>

          </div> <hr>

        <!-- Data frame -->
          <div style="background-color:#e8f0ef">
              <div class="row"><br>
                <h5 style="background-color:#a9d1ca"> {{ df_title_keyword }} </h5> <br>
                  <div class="col">
                    <div class="card-body">

                      <table style="width:100%">
                        <tr>
                          {% for col in ksentiments_top20.columns %}
                            <th style="white-space:nowrap"> {{ col }} </th>                     
                          {% endfor %}
                        </tr>
                          {% for index, row in ksentiments_top20.iterrows %}
                        <tr>
                              {% for cell in row %}
                            <td>{{ cell }}</td>
                              {% endfor %}
                        </tr>
                          {% endfor %}
                      </table>
                      
                    </div><br>
                  </div>
              </div>
          </div><hr>  

 {% endblock info_display_baseextended_keyword %}