{% extends "analytics/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
    <div class="py-6 text-center container">
        <div class="col-lg-6 col-md-8 mx-auto">
            <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= ""/>
            <hr>
            <h1> Analytics page</h1>
            <h3> Latest trends from Social Networks? </h3>
            <hr>        
        </div>
    </div> 
{% endblock section %}


<!--- START of info selection -->
{% block info_select %}
    <h5><strong>Click</strong> the button to choose  Tweet type </h5>
    <div class="tab">
        <button class="tablinks" onclick="{{ wordclouds }}"> Tweets streeming from User_ID </button>
        <button class="tablinks" onclick="openCity({{event}}, 'Keywords_search')"> Tweets streeming from Keywords_search </button>
    </div>
          
    <div id="User_ID" class="tabcontent">
        <h3></h3>
    </div>
    <div id="Keywords_search" class="tabcontent">
        <h3></h3>
    </div> 
    <hr>
          
    <div class="py-6 text-center container">
        <h5></h5>
              
        <form action="/index.html" method="get">
            <label for= 'item_list' > <strong> Choose the Twiteer ID from the box :> </strong> </label>
            <input list='item_list' name='item_list' id='item_list'>
            <datalist id='item_list'> 
                {% for item_name in df_rows_list %}
                {{item_name}}
                <option value='option'>
                {% endfor %}
            </datalist>
                <input type="submit">
        </form>
        <p><strong>Note:</strong> After choosing the ID Tweets analytics will be display below.</p>
    </div><hr>
{% endblock info_select %}


<!--- start of info display -->
{% block info_display %}


<div class="col">
    <!-- word-cloud fig -->
    <div class="container">
      <h3> Word-Cloud from Your Tweet search</h3><hr>
      <a> <h5> </h5> </a>
      <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="{% static 'wordcloud_toshow.png' %}" alt="Word-Cloud image" width=500 height=auto /> </a>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
      </div>
    </div><hr>

    <!--Sentiment chart-->
    <div class="container">
      <h3> Sentiment analytics of the tweets</h3>  <hr>
      <a> <h5 class="card-text"> </h5> </a>
      <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="{% static 'sentiment_plot_toshow.png' %}" alt="Word-Cloud image" width=auto height=auto />
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">Click image</button>
      </div>
    </div>

</div> <hr>

<!-- Data frame -->
<div class="container">
    <div class="row">
      <h3> Sentiment analytics of the tweets streeming from user</h3><hr>
        <div class="col">
          <div class="card-body">

            <table style="width:100%">
              <tr>
                {% for col in sentiments.columns %}
                  <th style="white-space:nowrap"> {{ col }} </th>                     
                {% endfor %}
              </tr>
                {% for index, row in sentiments.iterrows %}
              <tr>
                    {% for cell in row %}
                  <td>{{ cell }}</td>
                    {% endfor %}
              </tr>
                {% endfor %}
            </table>
            <h5> 10 most liked Tweets and their sentiments Analytics</h5>
          </div>
        </div>
    </div>
</div><hr>
{% endblock info_display %}

<!--- START of social media connection -->
{% block social_connection %}

{% endblock social_connection %}