{% extends "analytics/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
    <div class="py-6 text-center container">
        <div class="col-lg-6 col-md-8 mx-auto">
            <img class="bd-placeholder-img card-img-top" class= "img-fluid" src= ""/>
            <hr>
            <h1> Analytics page</h1>
            <h3> Latest trends from Social Networks? </h3>
            <hr>        
        </div>
    </div> 
{% endblock section %}


<!--- START of info selection -->
{% block info_select %}
    <h5><strong>BUTTON</strong> to choose to choose  Tweet types (tweets from User_Id or Keyword_search) </h5>
    <div class="tab">
    <button class="tablinks" onclick="openUserinpt(event, 'Keywords_search')" id="defaultOpen">Tweets streeming from Keywords_search</button>
    <button class="tablinks" onclick="openUserinpt(event, 'User_ID')" >Tweets streeming from User_ID</button>
    </div><br><hr>

    <!--- Tweet with Keyword-Search section --> 
    <div id='Keywords_search' class="tabcontent" style="background-color:rgb(169, 209, 202)">
        {% block info_select_baseextended_keyword %}
        {% endblock info_select_baseextended_keyword %}
    </div>

    <!--- Tweet with User_ID section --> 
    <div id='User_ID' class="tabcontent" style="background-color:rgb(169, 209, 202)">
        {% block info_select_baseextended_userid %}
        {% endblock info_select_baseextended_userid %}
    </div>
{% endblock info_select %}


<!--- start of info display -->
{% block info_display %}
    <div id='Keywords_search' class="container">
        <div class="col">
            {% block info_display_baseextended_keyword %}
            {% endblock info_display_baseextended_keyword %}   
        </div>
    </div>

    <div id='User_ID' class="album py-6 bg-light">
        <div class="col">
            {% block info_display_baseextended_userid %}
            {% endblock info_display_baseextended_userid %}   
        </div>
    </div> 
{% endblock info_display %}

<!--- START of social media connection -->
{% block social_connection %}

{% endblock social_connection %}