{% extends "dashboard/base.html" %}
{% load static %}


<!--div section for user input start here -->
{% block info_select %}
    <div class="menu1" style="background-color:#0c836f">
        <h5><strong>Select & Submit!</strong> </h5>
        
        <!--div section first dropdown START here -->
        <div>
            <form action="Food_category", method='post'>
                    {% csrf_token %}
                <fieldset>
                  <label for='food_cat'> <strong> Choose Food-Category here </strong> </label><br>
                 
                  <!-- <input type="text", name='userid'> -->
                  <select id="food_cat", name="food_cat">
                    {% for group_name in food_group_list %}
                      <option value="{{ group_name }}"> {{ group_name }} </option> 
                    {% endfor %}
                  </select>
                  <button type="submit" value="Submit"> Click to Submit </button>
        
                </fieldset>
              </form> 
        </div><hr>
        <!--div section for first dropdown END here -->
        

        
        <!--div section Second dropdown START here -->
        <div>
            <form action="foodname_todf", method='post'>
                    {% csrf_token %}
                <fieldset>
                  <label for='food_name'> <strong> Choose Food-Item here </strong> </label><br>
                 <!-- <input type="text", name='userid'> -->
                  <select id="food_name", name="food_name">

                    {% for name in name_list %}
                      <option value="{{ name }}"> {{ name }} </option> 
                    {% endfor %}
                  </select>
                  <button type="submit" value="Submit"> Click to Submit </button>
        
                </fieldset>
              </form> 
        </div><hr>
        <!--div section for second dropdown END here -->
    </div>

{% endblock info_select %}
<!--div section for user input end here  -->

    


<!--page to display of figure start here -->
{% block info_display %}
    <div class="main1" style="background-color:#71a39b">
        <div style="background-color:#e8f0ef">
              <h4> Visualization of Food-Nutrition and Climate impact</h4>
              
                <!--First row-->
                <div class="row"> <br> 
                  <!--- To make first two figures display side by side-->
                  <!--fig 1.1-->
                    <div class="col">
                      <h5>   </h5>  <hr> <!-- Nutrition composition -->
                        {% if pie_chart_energy %}
                          <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ pie_chart_energy|safe }}" alt="Energy content pie chart" style="width:100%"/> </a>
                        {% endif %}
                    </div>
            
                    <!--fig 1.2-->
                    <div class="col">
                      <h5>  </h5>  <hr> <!-- CO2 emission -->
                        {% if pie_chart_climate %}
                        <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ pie_chart_climate|safe }}" alt="Climate foot print pie chart" style="width:100%"/></a><br>
                        {% endif %}
                    </div>
                </div> 
            
                <!--Second row-->
                <div class="row"> <br>
                    <!--- To make second two figures display side by side-->
                    <!--fig 2.1-->
                      <div class="col">
                        <h5>  nutrition </h5>  <hr> <!-- Science facts text -->
                          {% if science_fact_textdisplay  %}
                            <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ science_fact_textdisplay|safe }}" alt="Bar Plot with Climate comparision with meat category" style="width:100%"/> </a>
                          {% endif %}
                      </div>

                      <!--fig 2.2-->
                      <div class="col">
                        <h5>  </h5>  <hr> <!-- Science facts figure -->
                          <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ flavour_compound.image.url }}" alt="Chemical compound of the food item" style="width:100%"/></a><br>
                          <h6> <i> Flavour-Compound (this figure is just for example, relavent figure will be updated soon..) </i></h6>
                      </div>
                </div>

                <!--Third row-->
                <div class="row"> <br>
            
                    <!--fig 3.1-->
                    <div class="col">
                      <h5>  </h5>  <hr> <!-- CO2 impact of food categories -->
                        {% if group_plot_climate %}
                        <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ group_plot_climate|safe }}" alt="Bar plot of foodclimate category" style="width:100%"/></a><br>
                        {% endif %}
                    </div>
              </div>

                <!--Fourth whole row without column-->
                <div class="row"> <br>
                  <!--fig 4.1-->
                      <h5>  </h5>  <hr> <!-- Food waste portion of the food -->
                        {% if barplot_foodwate %}
                          <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ barplot_foodwate|safe }}" alt="Bar Plot with Eaten vs non-eatenportion of the food in different category" style="width:100%"/> </a>
                        {% endif %}
                </div>

              <!--Button- Fifth row-->  
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">Click the figure for bigger view</button> </div>
              
              <div style="background-color:#a4aaa9"> 
                <p> <strong>NOTE:</strong><i> For this page the dataset used are; <br> - "The Big Climate Database" from "CONCITO Denamrk"- The danish green think tank <br> - Danish Food Composition Database- Frida version 4(© Fødevaredata (http://frida.fooddata.dk ),version 4, 2022).</i> </p>
              </div>
          </div>

        </div>

    </div>

{% endblock info_display %}


<!--page to display of figure end here -->   
<!-- Bottm row-Data frame -->
<div style="background-color:#a2b9b7">

  <!--Start of dataframe -->   
  <div style="background-color:#e8f0ef">
    <div class="row"><br><hr>
      <h5>  </h5> <br>
        <div class="col">
          <div class="card-body">
            
            <!--Start of category-dataframe --> 
            <table>
              <tr>
                {% for col in df_category.columns %}
                  <th style="white-space:nowrap" class="rotate"> <div> {{ col }} </div> </th>                   
                {% endfor %}
              </tr>
                {% for index, row in df_category.iterrows %}
              <tr>
                    {% for cell in row %}
                  <td>{{ cell }}</td>
                    {% endfor %}
              </tr>
                {% endfor %}
                <!--End of category-dataframe --> 

                <!--Start of indivisual dataframe --> 
            <table>
              <tr>
                {% for col in df_food_name.columns %}
                  <th style="white-space:nowrap" class="rotate"> <div> {{ col }} </div> </th>                       
                {% endfor %}
              </tr>
                {% for index, row in df_food_name.iterrows %}
              <tr>
                    {% for cell in row %}
                  <td>{{ cell }}</td>
                    {% endfor %}
              </tr>
                {% endfor %}
                <!--End of indiviausl dataframe --> 
            </table>
            
          </div><br>
        </div>
    </div>
  </div><hr>
  <!--End of dataframe -->   
