{% extends "dashboard/base.html" %}
{% load static %}


<!--div section for user input start here -->
{% block info_select %}
    <div class="menu1" style="background-color:#0c836f">
        <h5><strong>Select & Submit!</strong> </h5>
        
        <!--div section first dropdown START here -->
        <div>
            <form action="Food_category", method='post'>
                    {% csrf_token %}
                <fieldset>
                  <label for='food_cat'> <strong> Choose Food-Category here </strong> </label><br>
                 
                  <!-- <input type="text", name='userid'> -->
                  <select id="food_cat", name="food_cat">
                    {% for group_name in df_group_list %}
                      <option value="{{ group_name }}"> {{ group_name }} </option> 
                    {% endfor %}
                  </select>
                  <button type="submit" value="Submit"> Click to Submit </button>
        
                </fieldset>
              </form> 
        </div><hr>
        <!--div section for first dropdown END here -->
        

        
        <!--div section Second dropdown START here -->
        <div>
            <form action="foodname_todf", method='post'>
                    {% csrf_token %}
                <fieldset>
                  <label for='food_name'> <strong> Choose Food-Item here </strong> </label><br>
                 <!-- <input type="text", name='userid'> -->
                  <select id="food_name", name="food_name">

                    {% for name in name_list %}
                      <option value="{{ name }}"> {{ name }} </option> 
                    {% endfor %}
                  </select>
                  <button type="submit" value="Submit"> Click to Submit </button>
        
                </fieldset>
              </form> 
        </div><hr>
        <!--div section for second dropdown END here -->

    </div>

{% endblock info_select %}
<!--div section for user input end here  -->

    


<!--page to display of figure start here -->
{% block info_display %}
    <div class="main1" style="background-color:#71a39b">
        <div style="background-color:#e8f0ef">
            <h4> Display visual of the choosen food item</h4>
            
            <!--First row-->
            <div class="row"> <br> 
              <!--- To make first two figures display side by side-->
              <!--fig 1.1-->
                <div class="col">
                  <h5> Nutrition composition</h5>  <hr>
                    {% if mostmentionword %}
                      <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ mostmentionword|safe }}" alt="Word-Cloud image" style="width:100%"/> </a>
                    {% endif %}
                </div>
        
                <!--fig 1.2-->
                <div class="col">
                  <h5> Carbon Foot-print comparision </h5>  <hr>
                    {% if sentimentsplot %}
                    <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ sentimentsplot|safe }}" alt="Word-Cloud image" style="width:100%"/></a><br>
                    {% endif %}
                </div>
            </div> 
        
            <!--Second row-->
            <div class="row"> <br>
                <!--- To make second two figures display side by side-->
                <!--fig 2.1-->
                  <div class="col">
                    <h5> Science </h5>  <hr>
                      {% if mostmentionword %}
                        <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ mostmentionword|safe }}" alt="Word-Cloud image" style="width:100%"/> </a>
                      {% endif %}
                  </div>
          
                  <!--fig 2.2-->
                  <div class="col">
                    <h5> Other interesting facts </h5>  <hr>
                      {% if sentimentsplot %}
                      <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ sentimentsplot|safe }}" alt="Word-Cloud image" style="width:100%"/></a><br>
                      {% endif %}
                  </div>
            </div>
            <!--Button- third row-->  
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">Click the figure for bigger view</button> </div>
        
        </div>

        <!-- Bottm row-Data frame -->
        <div style="background-color:#a2b9b7">

          <!--Start of dataframe -->   
          <div style="background-color:#e8f0ef">
            <div class="row"><br><hr>
              <h5> Data table</h5> <br>
                <div class="col">
                  <div class="card-body">
          
                    <table style="width:100%">
                      <tr>

                        <!--Start of category-dataframe --> 
                        {% for col in df_category.columns %}
                          <th style="white-space:nowrap"> {{ col }} </th>                     
                        {% endfor %}
                      </tr>
                        {% for index, row in df_category.iterrows %}
                      <tr>
                            {% for cell in row %}
                          <td>{{ cell }}</td>
                            {% endfor %}
                      </tr>
                        {% endfor %}
                        <!--End of category-dataframe --> 

                        <!--Start of indivisual dataframe --> 
                        {% for col in df_food_name.columns %}
                          <th style="white-space:nowrap"> {{ col }} </th>                     
                        {% endfor %}
                      </tr>
                        {% for index, row in df_food_name.iterrows %}
                      <tr>
                            {% for cell in row %}
                          <td>{{ cell }}</td>
                            {% endfor %}
                      </tr>
                        {% endfor %}
                        <!--End of indiviausl dataframe --> 
                    </table>
                    
                  </div><br>
                </div>
            </div>
          </div><hr>
          <!--End of dataframe -->   

        </div>

    </div>

{% endblock info_display %}
<!--page to display of figure end here -->   
