{% extends "dashboard/base.html" %}
{% load static %}


<!--div section for user input start here -->
{% block info_select %}
    <div class="menu1" style="background-color:#0c836f">
        <h5><strong>Select & Submit!</strong> </h5>
        
        <!--div section first dropdown START here -->
        <div style="background-color:#71a39b">
            <form action="Food_category", method='post'>
                    {% csrf_token %}
                <fieldset>
                  <label for='food_cat'> <strong> Choose Food-Category here </strong> </label><br>
                 
                  <!-- <input type="text", name='userid'> -->
                  <select id="food_cat", name="food_cat">
                    {% for group_name in food_group_list %}
                      <option value="{{ group_name }}"> {{ group_name }} </option> 
                      
                    {% endfor %}
                  </select>
                  <button type="submit" value="Submit"> Click to Submit </button> 
        
                </fieldset>
              </form> <br>
        </div><hr>
        <!--div section for first dropdown END here -->
        

        
        <!--div section Second dropdown START here -->
        <div style="background-color:#71a39b">
            <form action="foodname_todf", method='post'>
                    {% csrf_token %}
                <fieldset>
                  <label for='food_name'> <strong> Choose Food-Item here </strong> </label><br>
                 <!-- <input type="text", name='userid'> -->
                  <select id="food_name", name="food_name">
                      {% for name in food_name_list %}
                        <option value="{{ name }}"> {{ name }} </option> 
                      {% endfor %}

                      {% for name in name_list %}
                        <option value="{{ name }}"> {{ name }} </option> 
                      {% endfor %}
                  </select>
                  <button type="submit" value="Submit"> Click to Submit </button>
        
                </fieldset>
              </form> <br>
        </div><hr>
        <!--div section for second dropdown END here -->

        <!--Start of list hyperlink -->
        <div style="background-color:#71a39b">
            <form action="xrich_todisplay", method='post'>
              {% csrf_token %}
              <label for='x_riches_cat'> <strong> List of food-items with different healthy option  </strong> </label><br>

                    <select id="x_riches_cat", name="x_riches_cat">
                        {% for k, v in choices_kv.items %}
                            <option value="{{ k }}"> {{ v }} </option> 
                                <!--<span class="hovertext" data-hover="Information about: "> {{ v }} </span>-->
                        {% endfor %}
                    </select>

              <button type="submit" value="Submit"> Click to Submit </button>

            </form> <br>
        </div><hr>
        <!--Start of list hyperlink END here-->
    </div>

{% endblock info_select %}
<!--div section for user input end here  -->

    


<!--page to display of figure start here -->
{% block info_display %}
    <div class="main1" style="background-color:#71a39b">
        <div style="background-color:#e8f0ef">
              <h4> Visualization of Food-Nutrition and Climate impact</h4>
              
                <!--First row-->
                <div class="row"> <br> 
                  <!--- To make first two figures display side by side-->
                  <!--fig 1.1-->
                    <div class="col">
                      <h5>   </h5>  <hr> <!-- Nutrition composition -->
                        {% if pie_chart_energy %}
                          <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ pie_chart_energy|safe }}" alt="Energy content pie chart" style="width:100%"/> </a>
                        {% endif %}
                    </div>
            
                    <!--fig 1.2-->
                    <div class="col">
                      <h5>  </h5>  <hr> <!-- CO2 emission -->
                        {% if pie_chart_climate %}
                        <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ pie_chart_climate|safe }}" alt="Climate foot print pie chart" style="width:100%"/></a><br>
                        {% endif %}
                    </div>
                </div> 
            
                <!--Second row-->
                <div class="row"> <br>
                    <!--- To make second two figures display side by side-->
                    <!--fig 2.1: Science facts text 
                      <div class="col">
                        <h5>  </h5>  <hr> 
                          {% if science_fact_textdisplay  %}
                            <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ science_fact_textdisplay|safe }}" alt="Bar Plot with Climate comparision with meat category" style="width:100%"/> </a>
                          {% endif %}
                      </div>-->

                      <!--fig 2.2: Flavour network fig -->
                      <div class="col">
                        <h5>  </h5>  <hr>
                        {% if flavour_img  %}
                          <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ flavour_img|safe }}" alt="Chemical compound of the food item" style="width:100%"/></a><br>
                        {% endif %}
                      </div>
                </div>

                <!--Third row-->
                <div class="row"> <br>
            
                    <!--fig 3.1-->
                    <div class="col">
                      <h5>  </h5>  <hr> <!-- CO2 impact of food categories -->
                        {% if group_plot_climate %}
                        <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ group_plot_climate|safe }}" alt="Bar plot of foodclimate category" style="width:100%"/></a><br>
                        {% endif %}
                    </div>
                </div>

                <!--Fourth whole row without column-->
                <div class="row"> <br>
                  <!--fig 4.1-->
                      <h5>  </h5>  <hr> <!-- Food waste portion of the food -->
                        {% if barplot_foodwate %}
                          <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="data:image/png;base64, {{ barplot_foodwate|safe }}" alt="Bar Plot with Eaten vs non-eatenportion of the food in different category" style="width:100%"/> </a>
                          <!--Button- Fifth row-->  
                          <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">Click the figure for bigger view</button> </div> <hr>
                        {% endif %}
                </div>

              <!--Button- Fifth row 
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">Click the figure for bigger view</button> </div> <hr>--> 


                <!--DataFrame- sixth row--> 
                <div class="row"> <br>
                  <!--fig 5.1-->
                      <div style="background-color:#a2b9b7">
                        <!--Start of dataframe -->   
                        <div style="background-color:#e8f0ef"><br>
                          <div class="row"><br>
                            <h4 style="background-color:#a9d1ca"> {{ df_title_xrich }} </h4> <br><br>
                              <div class="col">
                                <div class="card-body">
                                  
                                  <!--Start of category-dataframe --> 
                                  <table style="width:100%">
                                    <tr>
                                      {% for col in xrich_choice_df.columns %}
                                        <th style="white-space:nowrap" class="rotate"> <div> {{ col }} </div> </th>                   
                                      {% endfor %}
                                    </tr>
                                      {% for index, row in xrich_choice_df.iterrows %}
                                    <tr>
                                          {% for cell in row %}
                                        <td>{{ cell }}</td>
                                          {% endfor %}
                                    </tr>
                                      {% endfor %}
                                      <!--End of category-dataframe --> 
                                  </table>
                                  
                                </div><br>
                              </div>
                          </div>
                        </div><hr>
                      <!--End of dataframe -->   

                      <div style="background-color:#974c5d"> <strong> {{ xrich_info_todisplay }} <br> {% if xrich_info_todisplay %} <i>- info source- British Nutrition Foundation 2022 </i> {% endif %}</strong></div>

                      </div><br>
                </div>

              <div style="background-color:#a4aaa9"> 
                <p> <strong>NOTE:</strong><i> For this page the dataset used are; <br> - "The Big Climate Database" from "CONCITO Denamrk"- The danish green think tank <br> - Danish Food Composition Database- Frida version 4(© Fødevaredata (http://frida.fooddata.dk ),version 4, 2022).</i> </p>
              </div>
          
        </div>

    </div>


{% endblock info_display %}

