{% extends "fooddata/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
    <div class="col-lg-6 col-md-8 mx-auto">
        <!--<img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "", alt="Food CO2 emission"/>-->
        <hr>
        <h1> Food CO2 emission Analytics</h1>
        <h3> What is the carbon footprint of your diet? </h3>
        <hr>        
    </div> 
{% endblock section %}


<!--- START of info selection -->
{% block info_select %}
    <!-- Box to choose item -->
    <h5>The Food item name with category</h1>  
        <form action="/index.html" method="get">
            <label for= 'item_list' > <strong> Choose your Food item from here :> </strong> </label>
            <input list='item_list' name='item_list' id='item_list'>
            
            <datalist id='item_list'>
            {% for item_name in df_rows_list %}
            <option value={{ item_name }}>
            {% endfor %}
            </datalist>
            
            <input type="submit">
        </form>
    <p><strong>Note:</strong> Choose the food-item from dropdown list to explore detail information.</p><hr>
{% endblock info_select %}


<!--- start of info display -->
{% block info_display %}
    <!--- Single data-frame of the seleted item-->
    <div class="text-center container">
        <h2>Detail information of the choosen food item </h2>
        <div><button onClick="window.location.reload();"> <h5></h5>Refresh Here to get new item</button></div>
        <table>
        <tr>
            {% for col in name_choosen.columns %}
            <th style="white-space:nowrap"> {{col}} </th>              
            {% endfor %}
        </tr>
        {% for index, row in name_choosen.iterrows %}
        <tr>
            {% for cell in row %}
            <td> {{cell}} </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>        
    </div> <br> <hr>

    <!--- Single chart of the seleted item-->
    <div class="container">
      <h3> Bar graph of CO2 contribution from seleted food item</h3> <hr>
      <div class="col">
          <a> <img class="bd-placeholder-img card-img-top" class= "img-fluid" src="{% static 'co2_data_plot_toshow.png' %}" alt="Word-Cloud image"/> </a>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Click to image</button>
          </div>
      </div>
    </div> <hr>

{% endblock info_display %}

<!--- START of social media connection -->
{% block social_connection %}

  <div class="container">
    <div class="row">
      <h3> Rows of the 5 higest and 5 least CO2 contributor</h3><hr>
        <div class="col">
          <a> <h5 class="card-text"> </h5> </a>
          <div class="card-body">
            
            <table style="width:100%">
              <tr>
                {% for col in top10_fooddatas.columns %}
                  <th style="white-space:nowrap">{{col}}</th>
                {% endfor %}
              </tr>
                {% for index, row in top10_fooddatas.iterrows %}
                  <tr>
                    {% for cell in row %}
                      <td>{{cell}}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
            </table>           
            
          </div>
        </div>
    </div>
  </div>  <hr>

{% endblock social_connection %}