{% extends "fooddata/base.html" %}
{% load static %}

<!--- Start of SECTION -->
{% block section %}
    <div class="col-lg-6 col-md-8 mx-auto"><hr>
        <!--<img class="bd-placeholder-img card-img-top" class= "img-fluid" src= "", alt="Food CO2 emission"/>-->
        <h1> Google searc h data Analytics</h1>
        <h3> Explore the google search trends! </h3><hr>
        <h6> <strong>NOTE:</strong><i> data are based on google API </i></h6>        
    </div> 
{% endblock section %}


<!--- START of info selection -->
{% block info_select %}

      <div class="tab" style="background-color:#0c836f">
        <h4><strong>BUTTON</strong> to choose Google-Trends search options </h4>
        <button class="tablinks" onclick="openUserinpt(event, 'food_item')" id="defaultOpen"> Search with your key-words </button>
        <button class="tablinks" onclick="openUserinpt(event, 'food_group')" > Search with time-frame </button><br><br>
      </div> <hr>

      <!---  info selection -->
      <div id="food_item" class="tabcontent" style="background-color:#a9d1ca">
          <h4>Key-words input box</h4>
          {% block info_select_baseextended_fooditem %}
          {% endblock info_select_baseextended_fooditem %}
      </div>

      <!---  info selection -->
      <div id='food_group' class="tabcontent" style="background-color:#a9d1ca">
          <h4> Time-frame input box </h3>
          {% block info_select_baseextended_foodgroup %}
          {% endblock info_select_baseextended_foodgroup %}
      </div>
{% endblock info_select %}


<!--- start of info display -->
{% block info_display %}
    {% block info_display_baseextended_fooditem %}
    {% endblock info_display_baseextended_fooditem %}

    {% block info_display_baseextended_foodgroup %}
    {% endblock info_display_baseextended_foodgroup %}
{% endblock info_display %}